@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-success">
    <h1 class="display-4">We Bring Light in Your Life!</h1>
    <p><a href="https://en.wikipedia.org/wiki/Candle">Learn More about Candle</a>.</p>
</div>
